// Customize Bootstrap colors

$primary: #023C40;
$secondary : #4D868A;
$success: #13C161;
$info: #3f7679;
$warning : #ac5b2c;
$danger : #CC4760;
$light: #F3FFFB;
$dark: #1C1818;

// ⬆️ sass-kod ovanför importen ⬆️

@import 'bootstrap/scss/bootstrap';
