/* Customize Bootstrap colors */
:root {
  --primary: #023c40;
  --secondary: #4d868a;
  --success: #13c161;
  --info: #3f7679;
  --warning: #ac5b2c;
  --danger: rgb(204, 71, 96);
  --light: hsl(60, 100%, 98%);
  --dark: #1c1818;
  --grey: #5f5f5f;
  --grey-hover: #a1a1a1;
}

.btn:hover {
  transform: scale(1.015);
  transition: all 0.2s ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100dvh;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}
